
  
    <%@user.each do |user|%>
    <tr class="success">
      <td><%=image_tag user.image.url(:thumb)%></td>
      <td><%=user.full_name%></td>
      <td><%=link_to "View Profile","show_profile/#{user.id}"%></td>
    </tr>
    <%end%>
   
  
 